body {
  font-family: 'Inter Tight', sans-serif;
  width: auto;
  background-color: #fffdfa;
}
.app {
  margin: 10px auto;
  max-width: 900px;
  max-height: 700px;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.menu li {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin: 0px 5px;
  position: relative;
  top: 20px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.menu li:hover {
  color: #e9ab53;
  font-size: 16px;
}
p {
  font-size: 0.85rem;
  color: #c5c6ce;
  font-weight: 400;
  margin: 0px;
}
.grid {
  display: grid;
  grid-gap: 15px;
  padding: 5px;
  margin: 0px;
  transition: all 0.2s linear;
}
.grupo-1 {
  grid-column: 1/span 2;
  grid-row: 1;
  width: auto;
  height: 250px;
}
.grupo-2 {
  grid-column: 2/span 3;
  grid-row: 1/span 2;
  background-color: #00001a;
  height: 400px;
  color: #fff;
  width: 250px;
  padding: 1rem;
}
.grupo-2 h2 {
  color: #e9ab53;
  font-size: 3rem;
  font-weight: 700;
  margin: 0px;
}
.grupo-2 hr {
  margin: 1.5rem 0rem;
}
.grupo-2 h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
.grupo-2 h3:hover {
  color: #e9ab53;
}
.grupo-3 {
  grid-column: 1;
  grid-row: 2;
  height: 200px;
  max-width: 300px;
  font-size: 2.2rem;
  font-weight: bold;
  font-weight: 700;
  position: relative;
  top: -55px;
}
.grupo-4 {
  grid-column: 2;
  grid-row: 2;
  width: 280px;
  position: relative;
  left: -300px;
}
button {
  background-color: #f15e50;
  color: #fff;
  border: none;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 0.85rem 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
button:hover {
  background-color: #00001a;
  font-size: 0.9rem;
  letter-spacing: 6px;
}
.grupo-5 {
  height: 120px;
  max-width: 300px;
  position: relative;
}
.retro {
  grid-column: 1;
  grid-row: 3;
}
.laptop {
  grid-column: 2;
  grid-row: 3;
  left: -300px;
}
.gaming {
  grid-column: 3;
  grid-row: 3;
  left: -300px;
  width: 300px;
}
.img-grid {
  width: 90px;
  float: left;
  margin-right: 10px;
}
.conteudo-g5 {
  display: flex;
  flex-direction: column;
}
h4 {
  font-size: 2rem;
  color: #c5c6ce;
  margin: 0px;
}
h5 {
  font-size: 1rem;
  margin: 0.9rem 0;
  cursor: pointer;
}
h5:hover {
  color: #f15e50;
}
.footer {
  text-align: center;
  padding-bottom: 10px;
  margin: 30px;
}
.fa-brands {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #000;
  border-radius: 50%;
  transition: all 0.2s linear;
  cursor: pointer;
  align-items: center;
}
.fa-brands:hover {
  width: 40px;
  color: #e9ab53;
  font-size: 1.7rem;
  border-color: #000;
}
