body {
  width: auto;
  font-family: 'Inter', sans-serif;
  background-color: #fffdfa;
}
.body {
  margin: 50px;
  max-width: 1400px;
  justify-content: center;
}
.header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: auto;
}
.menu li {
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.menu li:hover {
  color: #e9ab53;
  font-size: 16px;
}
main {
  display: inline-block;
}
.img-lego {
  width: auto;
  height: 300px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer {
  text-align: center;
  padding-bottom: 10px;
  margin: 50px;
}
.fa-brands {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #000;
  border-radius: 50%;
  transition: all 0.2s linear;
  cursor: pointer;
  align-items: center;
}
.fa-brands:hover {
  width: 40px;
  color: #e9ab53;
  font-size: 1.7rem;
  border-color: #000;
}
