body 
    width: auto

    font-family 'Inter', sans-serif
    background-color: hsl(36, 100%, 99%)

    
.body 
    margin: 50px
    max-width: 1400px
    // max-height: 100px
    justify-content: center

.header
    margin: 20px
    display: flex
    justify-content: space-between
    width: auto
    
.menu li 
    display: inline-block
    font-size: 15px
    font-weight: 400
    margin: 5px 
    cursor: pointer
    transition: all .2s linear
    &:hover
        color: hsl(35, 77%, 62%)
        font-size: 16px






//corpo do layout

main  
    display: inline-block

.img-lego
    width: auto
    height: 300px  

// texte com grid

.grid
    display: grid
    grid-template-columns: repeat(2, 1fr)

//footer

.footer 
    text-align:center
    padding-bottom: 10px
    margin: 50px 
   


.fa-brands 
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    font-size: 1.3rem
    margin-bottom: 10px
    color: rgb(0, 0, 0)
    border-radius: 50%
    transition: all .2s linear
    cursor: pointer
    align-items: center

.fa-brands:hover
    width: 40px
    color: hsl(35, 77%, 62%)
    font-size: 1.7rem
    border-color: #000
