body 
    font-family: 'Inter Tight', sans-serif;
    width: auto
    background-color: hsl(35, 52%, 94%)
    box-sizing: border-box

.app 
    margin: 10px auto
    max-width: 900px
    max-height: 700px
    justify-content: center
   

.grade-top
    display: flex
    justify-content: space-between
    width: auto
.btnOpen
    visibility: hidden
.menu-mobile 
    max-width: 10px
    max-height: 50px
    visibility: hidden
.menu a  
    text-decoration: none
    color: hsl(240, 100%, 5%) 
    font-size: 1rem
    font-weight: 400
    transition: all .2s linear
    &:hover
        color: hsl(35, 77%, 62%)
        font-size: 16px
.menu li 
    display: inline-block  
    margin:  0px 5px 
    position: relative
    top: 20px
    left: 320px
    cursor: pointer
    transition: all .2s linear
    


p 
    font-size: .85rem
    color: hsl(233, 4%, 52%)
    font-weight: 400    
    margin: 0px
    
// teste com grid

.grid
    display: grid
    grid-gap: 15px
    padding: 5px
    margin: 0px
    transition: all .2s linear

.grupo-1
    grid-column: 1 / span 2
    grid-row: 1
    width: auto
    height: 250px  


.grupo-2
    grid-column: 2 / span 3
    grid-row: 1 / span 2
    background-color: hsl(240, 100%, 5%)
    height 400px
    color: white
    width: 250px
    padding: 1rem
    
.grupo-2 h2 
    color: hsl(35, 77%, 62%)
    font-size: 3rem
    font-weight: 700
    margin: 0px

.grupo-2 hr  
    margin: 1.5rem 0rem
    border: 0.1px solid hsl(233, 4%, 52%)

.grupo-2 h3 
    margin-top: 1rem
    margin-bottom: 1rem
    font-size: 1rem
    font-weight: 700
    cursor: pointer
    transition: all .2s linear
    
    &:hover
        color: hsl(35, 77%, 62%)

.grupo-3
    grid-column: 1
    grid-row: 2
    height: 200px
    max-width: 300px
    font-size: 2.2rem
    font-weight: bold
    font-weight: 700
    position: relative
    top: -55px

.grupo-4
    grid-column: 2
    grid-row: 2
    width: 280px
    position: relative
    left: -300px

button
    background-color: hsl(5, 85%, 63%)
    color: white
    border: none
    font-size: .85rem
    font-weight: 700
    letter-spacing: 5px
    text-transform: uppercase
    margin-top: 2rem
    padding: .85rem 1rem
    cursor: pointer
    transition: all .2s linear
    &:hover
        background-color: hsl(240, 100%, 5%)
.grupo-5 
    height 120px
    max-width: 300px
    position: relative

.retro
    grid-column: 1
    grid-row: 3

.laptop
    grid-column: 2
    grid-row: 3
    left: -300px

.gaming
    grid-column: 3
    grid-row: 3
    left: -300px
    width: 300px

.img-grid
    width: 90px  
    float: left
    margin-right: 10px

.conteudo-g5
    display: flex
    flex-direction: column

h4
    font-size: 2rem
    color: hsl(233, 8%, 79%)
    margin: 0px

h5 
    font-size: 1rem
    margin: .9rem 0
    cursor: pointer
    transition: all .2s linear
    
    &:hover
        color: hsl(5, 85%, 63%)

//footer

.footer 
    text-align:center
    padding-bottom: 10px
    margin: 30px 
   
.fa-brands 
    width: 30px
    height: 30px
    display: flex
    justify-content: center
    font-size: 1.3rem
    margin-bottom: 10px
    color: rgb(0, 0, 0)
    border-radius: 50%
    transition: all .2s linear
    cursor: pointer
    align-items: center

.fa-brands:hover
    width: 40px
    color: hsl(35, 77%, 62%)
    font-size: 1.7rem
    border-color: #000

@media only screen and (max-width: 450px) {
    body {
        overflow: auto
    }  
    .menu {
        visibility: hidden
        position: relative
        max-width: 100px
        max-height: 30px
        left: -250px
        
    }
    .btnOpen {
    visibility: visible
    font-size: 2.5rem
    font-stretch: ultra-expanded
    position: relative
    left: 60px
    top: 15px   
    }
    .menu-mobile {
        visibility: visible
        position: relative
        left: -250px
        max-height: 30px
    }
    // .menu-mobile ul {
    // margin-top: 3rem    
    // }
    .menu-mobile ul li { 
        list-style: none
        line-height: 2rem
        margin-top: 1.5rem    
        
    }
    .menu-mobile a {
        text-decoration: none
        color:hsl(240, 100%, 5%)
        font-size: 1.5rem
        font-weight: 400
        margin-top: 30px
        padding: 1rem
    }
    .menu-mobile a:hover {
        color: hsl(35, 77%, 62%)
    }
    .menuLateral {
        width: 300px
        height: 100%
        position: fixed
        left: 3000px
        background-color: rgb(254, 254, 254) 
        transition: right 2s ease-in-out; 
        z-index: 1
    }
    .menuLateral.open {
        left: 165px
        
    }
    .menuLateral.close {
        left: -300px      
    }
    .btnClose {
        font-size: 3rem
        font-weight: bold
        position: relative
        left: 200px
        top: 15px
    }
    .btnMove.gira {
        transform: rotate(90deg)
    }
    
    .grid {
        display: block
        align-items: center
    }
    .grupo-1 {
        width: 390px
        position: relative      
    }
    .grupo-2 {
        position: relative
        top: 400px
        width: auto
    }
    .grupo-3 {
        position: relative
        top: -450px
        max-width: 400px   
    }
    .grupo-3 h2 {
        font-weight: 900
        font-size: 50px
        line-height: 1
    }
    .grupo-4{
        width: 350px
        position: relative
        left: 0px
        top: -480px
    }
    .grupo-5 {
        display: inline
        position: relative
        top: 40px
        left: 0px
        margin: 20px
        width: 400px
     }
    h5  {
        font-size: 20px
    }
    .img-grid {
        width: 100px
    }

    .footer {
        margin-top: 40px
        }  
    .mascara {
        position: fixed
        size: fill
        display: none
        height: 100%
        background-color: #00001A
        opacity: 60%
        height: 235vh
        width: 176vh
        z-index: 1
    }     
}



        
    
    

